*~
*.la
*.lo
*.o
/.deps/
/.libs/
/aclocal.m4
/ancient
/test
/ancient-*.tar.gz
/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/libancient.pc
/libtool
/m4/
/Makefile
/Makefile.in
#
/src/.deps/
/src/.dirstamp
/src/Lzh/.deps/
/src/Lzh/.dirstamp
/src/Zip/.deps/
/src/Zip/.dirstamp
/src/common/.deps/
/src/common/.dirstamp
/test_vectors