name: Ubuntu 24.04 Makefile

on:
  push:
  pull_request:

jobs:
  build:
    permissions:
      actions: read

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential make
    - name: make
      run: make -f Makefile.unix EXTRA_CFLAGS=-Werror
    - name: test
      run: ./obj/test
