name: Ubuntu 20.04 fuzzing (build only)

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2
    - name: install dependencies
      run: sudo apt-get update && sudo apt-get install -y build-essential make clang llvm llvm-dev llvm-runtime
    - name: get-afl
      run: ./fuzzing/get-afl.sh
    - name: build fuzzing
      run: ./fuzzing/build.sh
